
.section{
    overflow: auto;
    .section-title{
        margin-top: $main-margin !important;
    }
    &-banner{
        // height: 92.4vh;
        min-height: calc(100vh - 3.73rem);

        @include bg-img;
        background-image: url('/img/banner.png');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-white;
        text-align: center;
        .sub-header{
            @include font-md;
            @include media-sm{
                @include font-xl;
            }
        }
        .header{
            @include font-xl;
            @include media-sm{
                @include font-xxxl;
            }
        }
        .banner-search{
            width: 95%;
            @include media-sm{
                width: 80%;
            }
            // .banner-search-form{
            //     position: relative;
            //     .search-icon{
            //         position: absolute;
            //         top:25%;
            //         // @include media-sm{
            //         //     top: 14px;
            //         // }
            //         right: 15px;
            //         color: $color-grey-light;
            //         z-index: 2;
            //     }
            //     input{
            //         border-top-left-radius: 0;
            //         border-bottom-left-radius: 0;
            //         max-width: 100%;
            //         padding-right: 50px;
            //         &::placeholder {
            //             color: $color-grey-light;
            //             @include font-sm;
            //              @include media-sm{
            //                 @include font-sm;
            //             }
            //         }
            //     }
            //     .btn{
            //         border-top-right-radius: 0;
            //         border-bottom-right-radius: 0;
            //         @include font-sm;
            //          @include media-sm{
            //                 @include font-md;
            //             }
            //     }
            // }
        }
        .most-requested{
            margin-top: 1rem;
            padding: .5rem 0;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            background-color: rgba(0,0,0,.4);
            width: 95%;
            @include media-sm{
                width: 80%;
            }
            .most-requested-title{
                @include font-xl;
                width: 20%;
            }
            .most-requested-list{
                width: 80%;
                display: flex;
                justify-content: start;
                align-items: center;
                .most-requested-item{
                    cursor: pointer;
                    @include font-xs;
                    @include media-md{
                        @include font-sm;
                    }
                    margin-left: 1rem;
                    padding: .25rem 1rem;
                    border: 2px solid $color-white;
                    border-radius: 40px;
                }
            }
        }
    }

    // &-how-it-works{


    // }

    &-services{
        @include bg-img;
        background-image: url('/img/services-bg.png');
        @include tint(0,0,0,.5);

        .content-boxes{
            color: $color-white;
            .box{
                width: 100%;
                @include media-sm{
                    width: calc(100%/2);
                }
                @include media-md{
                    width: calc(100%/3);
                }
            }
        }
    }

    &-examples{
        .service-cards{
        //     display: flex;
        //     .service-card{
        //         margin: 0 .5rem;
        //     }
            padding-top:  calc(#{$main-margin} / 2) !important;
            width: 100%;
            @include site-padding;
        }
    }
    &-start-now{
        margin-top: $main-margin;
        .start-now-wrapper{
            padding: 8rem 0;
        margin: 0 auto !important;

            width: 95%;
            @include media-md{
                width: 80%;
            }
            @include media-lg{
                width: 70%;
            }
            h2{
                margin: 0 1rem !important;
                @include font-xl;
                @include media-lg{
                    @include font-xxl;
                }
            }

            .btn{
                padding: .5rem 2rem;
            }
        }
        
        background-color: $color-grey-lighter;
        color: $color-primary;
    }
}

.footer{
    overflow: auto;
    background-color: $color-primary-dark;
    a:hover,
    a:active{
        color: $color-primary-light !important;
    }
    .footer-wrapper{
        margin-top: $main-margin;
        margin-left: auto;
        margin-right: auto;
        
        width: 93%;
        .footer-start{
            text-align: center;

            @include media-md{
            text-align: start;

            }
            .footer-logo{
                width: 15rem;
            }
            .social-links{
                margin-top: calc(#{$main-margin}/2);
            }
            .footer-payment{
                margin-top: calc(#{$main-margin}/2);
                width: 100%;
                @include media-md{
                    width: 50%;
                }
                display: flex;
                justify-content: space-between;
            }

        
        }
        .footer-end{
            .footer-list{
                list-style: none;
                text-align: center;
                @include font-md;
                padding: 0;
                    margin-top: calc(#{$main-margin});
                    @include media-md{
                        margin-top: 0;
                    }

                .footer-list-title{
                    @include font-xl;
                    font-weight: 700;
                }
                .footer-list-item{
                    &:not(:last-child){
                        margin-bottom: calc(#{$main-margin}/4);

                    }
                    color: $color-white;
                    .footer-link{
                        text-decoration: none;
                        color: $color-white;
                        
                    }
                }
            }
        }
        hr{
            margin-top: $main-margin;
            color: $color-grey-light;
        }
        .text-end{
            @include font-xs;
        }
    }
}

