/*
None	<576px
sm	    ≥576px
md	    ≥768px
lg	    ≥992px
xl	    ≥1200px
xxl	    ≥1400px
*/

@mixin media-sm{
    @media(min-width:  576px ){ @content; }
}
@mixin media-md{
    @media(min-width:  768px ){ @content; }
}
@mixin media-lg{
    @media(min-width:  992px ){ @content; }
}
@mixin media-xl{
    @media(min-width: 1200px ){ @content; }
}
@mixin media-xxl{
    @media(min-width: 1400px ){ @content; }
}

@mixin font-xxxl{
    font-size: 2.5rem !important;
}
@mixin font-xxl{
    font-size: 2rem !important;
}
@mixin font-xl{
    font-size: 1.5rem !important;
}
@mixin font-lg{
    font-size: 1.4rem !important;
}
@mixin font-md{
    font-size: 1.2rem !important;
}
@mixin font-sm{
    font-size: 1rem !important;
}

@mixin font-xs{
    font-size: .8rem !important;
}

@mixin bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    // background-image: url($url);
}

@mixin site-padding($y: 0rem) {
    padding: $y $site-padding;
    @include media-lg{
        padding: $y $site-padding-lg;
    }
    @include media-xl{
        padding: $y $site-padding-xl;
    }
    @include media-xxl{
        padding: $y $site-padding-xxl;
    }
}

@mixin tint($r,$g,$b,$a){
    background-color: rgba($r,$g,$b,$a); /* Tint color */
    background-blend-mode: multiply;
}

@mixin drop-shadow{
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .2);
}