$color-primary: #1875BC;
$color-primary-light:#399DD1;
$color-primary-dark: #194275;
$color-grey-dark: #666666;
$color-grey: #707070;
$color-grey-light: #dee2e6;
$color-grey-lighter: #F5F5F5;
$color-grey-lightest: #fafafa;
$color-white: #fff;
$color-black: #000;
$color-success: #008004;
$color-danger: #E50707;
$site-padding: .5rem;
$site-padding-xs: 1rem;
$site-padding-lg: 1rem;
$site-padding-xl: 1rem;
$site-padding-xxl: 3rem;
$main-margin: 4rem;
